# Configuración de base de datos
DATABASE_URL=postgresql://user:password@db:5432/ip_manager

# Seguridad de la API (Autoriza peticiones externas y descarga de listas por el Sync Service)
API_KEY=your_api_key_here

# Sincronización WAF
WAF_EXPORT_URL=http://localhost:8000/export

# Configuración Slack
SLACK_SIGNING_SECRET=your_slack_signing_secret_here
SLACK_BOT_TOKEN=xoxb-your-bot-token-here
