# Archivos y carpetas ignorados por Git.
# Environment variables
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE settings
.idea/
.vscode/

# Project specific
db_data/
